
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
env/
*.env
/tests/fixtures/
allure-results/
allure-report/
not-used/
.auth/
*.json
!package.json
!package-lock.json