
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
env/
*.env
/tests/fixtures/loginData.json
/tests/fixtures/customerEmailSequence.json
/tests/fixtures/salesOrderSequence.json