
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
env/
*.env
/tests/fixtures/loginData.json
/tests/fixtures/customerSequence.json
/tests/fixtures/customerEmailSequence.json
/tests/fixtures/salesOrderSequence.json
/tests/fixtures/skpInternalSequence.json
allure-results/
allure-report/
additional-file-for-b2b-playwright.zip
not-used/